body {
 background: url("brillant.png");
}

/* #mainContainer {
	width: 80%;
}*/

.jumbotron {
	background-image: url('https://media.giphy.com/media/26tk1c1vLvtQ6WojS/giphy.gif');
	color: white;

}

th {
	text-decoration: underline;
}

td,
th {
	text-align: center;
}

/*.panel-heading {
	font-family: serif;
	font-size: 20px;
}*/