body {
 background: url("brilliant.png");
}

/* #mainContainer {
	width: 80%;
}*/

.jumbotron {
	background-color: #337ab7;
	color: white;
}

th {
	text-decoration: underline;
}

/*.panel-heading {
	font-family: serif;
	font-size: 20px;
}*/